page-register {background-color: #f4f4f4}
page-register input {width: 100%; border: none; padding: 0 0 0 5px;}
page-register button.btn-code {height: 40px; width: 70%; float: right;}
page-register .ion-list .item .item-inner {padding-right: 0;}
page-register .ion-list .item .item-inner .input-wrapper ion-label {margin: 0;}
page-register .ion-list .item ion-icon.code-icon {margin: 10px 0 0 -5px;}
page-register .btn-register {margin-top: -2rem;}
page-register .ion-list .item .error-box {font-size: 1.3rem; color: #ff0000; margin: 10px 0 0 18px;}
