<ion-header>
  <ion-toolbar no-border-bottom>
    <ion-title>注册账号</ion-title>
    <ion-buttons start>
      <button ion-button color="dark" (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (submit)="userRegister(registerForm)" novalidate>
    <ion-list class="ion-list">
      <ion-item>
        <ion-icon name="phone-portrait"></ion-icon>
        <input type="tel" placeholder="请输入常用手机号码" [formControl]="mobile" required/>
        <ion-icon name="close" item-right [hidden]="mobile.value.length == 0" (tap)="clearInput(registerForm, 'mobile')"></ion-icon>
        <div class="error-box" *ngIf="mobile.hasError('required') && mobile.touched">请填写手机号码</div>
        <div class="error-box" *ngIf="mobile.hasError('pattern') && !mobile.hasError('required') && mobile.touched">手机号码格式不正确</div>
      </ion-item>

      <ion-item>
        <ion-row class="row">
          <ion-col width-50>
            <ion-icon name="paper" class="code-icon"></ion-icon>
            <input type="tel" placeholder="验证码" [formControl]="codes" required/>
            <div class="error-box" *ngIf="codes.hasError('required') && codes.touched">然而验证码并不正确</div>
          </ion-col>
          <ion-col width-50>
            <button ion-button small color="primary" class="btn-code" [disabled]="!mobile.valid || isBtnCode" (tap)="getCodes(mobile.value)">{{btnCode}}</button>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-icon name="key"></ion-icon>
        <input type="password" placeholder="密码 (6-16位)" [formControl]="password" required/>
        <ion-icon name="close" item-right [hidden]="password.value.length == 0" (tap)="clearInput(registerForm, 'password')"></ion-icon>
        <div class="error-box" *ngIf="password.hasError('required') && password.touched">请填写密码</div>
        <div class="error-box" *ngIf="password.hasError('minlength') && password.touched">密码太短, 至少6位</div>
        <div class="error-box" *ngIf="password.hasError('maxlength') && password.touched">密码太长, 最多16位</div>
      </ion-item>

      <ion-item>
        <ion-icon name="phone-portrait"></ion-icon>
        <input type="tel" placeholder="介绍人手机号码" [formControl]="insMobile"/>
        <ion-icon name="close" item-right [hidden]="insMobile.value.length == 0" (tap)="clearInput(registerForm, 'insMobile')"></ion-icon>
        <!--<div class="error-box" *ngIf="insMobile.hasError('pattern') && insMobile.touched">手机号码格式不正确</div>-->
      </ion-item>
    </ion-list>

    <div padding class="btn-register">
      <button ion-button block type="submit" color="primary" [disabled]="!registerForm.valid">注册</button>
    </div>
  </form>
</ion-content>
