<ion-header>
  <ion-navbar hideBackButton no-border-bottom>
    <ion-buttons start>
      <button ion-button navPop color="dark"><ion-icon name="arrow-back" class="btn-back"></ion-icon></button>
    </ion-buttons>
    <ion-title text-center>我的订单</ion-title>
  </ion-navbar>

  <ion-toolbar no-border>
    <ion-segment [(ngModel)]="flag">
      <ion-segment-button value="0" (click)="searchOrders('noPay')">
        未支付订单
      </ion-segment-button>
      <ion-segment-button value="1" (click)="searchOrders('hasPay')">
        已支付订单
      </ion-segment-button>
      <!--<ion-segment-button value="2">
        充值订单
      </ion-segment-button>-->
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="flag">
    <ion-list *ngSwitchCase="'0'" class="ion-list">
      <ion-item *ngFor="let order of orders">
        <ion-card>
          <ion-card-header class="card-header">
            <ion-row>
              <ion-col width-80><div>YL 育龙</div></ion-col>
              <ion-col width-20><p>未支付</p></ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content class="card-content">
            <div>
              <ion-avatar class="avatar"><img src="{{order.items[0].imageUrl}}"/></ion-avatar>
              <span>{{order.items[0].name}}</span>
            </div>
          </ion-card-content>
          <div class="total-tips">共{{order.items.length}}件商品 实付款:￥{{order.amount}}</div>
        </ion-card>
        <button ion-button outline small color="secondary" class="opt-btn" (click)="goPay(order)">去支付</button>
        <button ion-button outline small color="dark" class="opt-btn" (click)="delOrder(order.orderId, ind)">删除订单</button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'1'" class="ion-list">
      <ion-item *ngFor="let order of orders; let ind = index">
        <ion-card>
          <ion-card-header class="card-header">
            <ion-row>
              <ion-col width-80><div>YL 育龙</div></ion-col>
              <ion-col width-20><p>交易成功</p></ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content class="card-content">
            <div>
              <ion-avatar class="avatar"><img src="{{order.items[0].imageUrl}}"/></ion-avatar>
              <span>{{order.items[0].name}}</span>
            </div>
          </ion-card-content>
          <div class="total-tips">共{{order.items.length}}件商品 实付款:￥{{order.amount}}</div>
        </ion-card>

      </ion-item>
    </ion-list>

    <!--<ion-list *ngSwitchCase="'2'" class="ion-list">
      <ion-item *ngFor="let order of orders; let ind = index">
        <ion-card>
          <ion-card-header class="card-header">
            <ion-row>
              <ion-col width-80><div>YL 育龙</div></ion-col>
              <ion-col width-20><p>交易成功</p></ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content class="card-content">
            <div>
              <ion-avatar class="avatar"><img src="{{order.items[0].imageUrl}}"/></ion-avatar>
              <span>{{order.items[0].name}}</span>
            </div>
          </ion-card-content>
          <div class="total-tips">共{{order.items.length}}件商品 实付款:￥{{order.amount}}</div>
        </ion-card>
        <button ion-button outline small color="dark" class="opt-btn" (click)="delOrder(order.orderId, ind)">删除订单</button>
      </ion-item>
    </ion-list>-->

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasMore">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
