page-my-orders {}
page-my-orders .ion-list .item {padding-left: 0;}
page-my-orders .ion-list .item .item-inner {padding-right: 0;}
page-my-orders .ion-list .item .item-inner ion-label {margin: 0;}
page-my-orders .ion-list .item .item-inner ion-label ion-card {margin: 10px 0 0 0; width: 100%; box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);}

page-my-orders .ion-list .item .item-inner ion-label ion-card .card-header div {margin-top: -10px;}
page-my-orders .ion-list .item .item-inner ion-label ion-card .card-header p {margin-top: -8px; color: #ff0000; font-weight: normal;}
page-my-orders .ion-list .item .item-inner ion-label ion-card .card-content {margin-top: -1rem; background-color: #f8f8f8;}
page-my-orders .ion-list .item .item-inner ion-label ion-card .card-content div {display: inline-block;}
page-my-orders .ion-list .item .item-inner ion-label ion-card .card-content .avatar {margin-top: 1rem; float: left;}
page-my-orders .ion-list .item .item-inner ion-label ion-card .card-content .avatar img {display: inline-block; width:80px; height:80px; border-radius: 50%;}
page-my-orders .ion-list .item .item-inner ion-label ion-card .card-content div span {margin: -3rem 0 0 4.5rem; float: left; width: 100%;}
page-my-orders .ion-list .item .item-inner ion-label ion-card .total-tips {display: inline-block; float: right; margin: 12px 12px 12px 12px; font-size: 1.4rem; font-weight: normal;}
page-my-orders .ion-list .item .item-inner button.opt-btn {display: inline-block; float: right; margin-right: 10px;}
