<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>购物车</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cart-content">
  <ion-list class="ion-list" *ngIf="cartList && cartList.length > 0">
    <ion-list-header class="cart-title">
      <ion-checkbox color="danger" [(ngModel)]="isChecked" (ionChange)="notificationAll()"></ion-checkbox>
      <ion-label class="shop-name">YL 育龙自营</ion-label>
    </ion-list-header>

    <ion-item-sliding class="cart-sliding" *ngFor="let item of cartList; let ind = index">
      <ion-item class="cart-item">
        <ion-checkbox color="danger" [(ngModel)]="item.isChecked" (click)="notificationItem(item)"></ion-checkbox>
        <ion-thumbnail item-left>
          <img [src]="item.imageUrl"/>
        </ion-thumbnail>
        <ion-label>
          <div class="ellipsis-text product-name">{{item.name}}</div>
          <p class="ellipsis-text product-special" *ngIf="item.sku">[规格] {{item.sku}}</p>
          <div class="product-price">
            <ion-row>
              <ion-col width-50>
                <span class="price">￥{{item.distPrice * item.qty}}</span>
              </ion-col>
              <ion-col width-50 class="col-tool">
                <button ion-button icon-only color="white" class="btn-count" (click)="quantityChange(item, 0)">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <input type="tel" class="count-input" value="{{item.qty}}"/>
                <button ion-button icon-only color="white" class="btn-count" (click)="quantityChange(item, 1)">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delItem(ind)">删除</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-row class="empty-cart" *ngIf="cartList && cartList.length == 0">
    <ion-col>
      <div class="tips">
        <p text-center>购物车是空的</p>
        <p text-center>去挑几件中意的商品吧</p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="cart-footer">
  <ion-toolbar no-border-bottom *ngIf="cartList && cartList.length > 0">
    <ion-row>
      <ion-col width-33 class="select-all">
        <ion-checkbox color="danger" [(ngModel)]="isChecked" (ionChange)="notificationAll()"></ion-checkbox><span>全选</span>
      </ion-col>
      <ion-col width-33 class="total">合计: <span>￥{{totalAmount}}</span></ion-col>
      <ion-col width-33 class="btn-col">
        <button ion-button block color="danger" (click)="doOrder()">结算</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

