<ion-header>
  <ion-navbar hideBackButton no-border-bottom>
    <ion-title>购物车</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button full color="danger" *ngIf="productCount" (click)="checkout()">
    <ion-icon name="ios-cart"></ion-icon>
    购买
  </button>

  <ion-list>
    <ion-item *ngFor="let item of cartList">
      <ion-thumbnail item-left>
        <img [src]="item.imageUrl">
      </ion-thumbnail>
      <h2>{{item.productName}}</h2>
      <p>价格 : ${{item.distPrice}} x {{item.qty}} = ${{item.distPrice * item.qty}}</p>

      <button ion-button icon-only item-right clear (click)="quantityPlus(item)" ><ion-icon name="arrow-dropup"></ion-icon></button>
      <button ion-button  item-right >{{item.qty}}</button>
      <button ion-button icon-only item-right clear (click)="quantityMinus(item)" ><ion-icon name="arrow-dropdown"></ion-icon></button>
      <button ion-button icon-only item-right clear (click)="removeItemFromCart(item)" ><ion-icon name="remove-circle"></ion-icon></button>
    </ion-item>

    <ion-item *ngIf="productCount > 0" >
      <h2>合计:</h2>
      <h2 item-right >${{totalAmount}}</h2>
    </ion-item>

    <ion-item *ngIf="!productCount" >
      <h2 class="center">亲，购物车是空的</h2>
    </ion-item>


  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col width-50 offset-50>
        <button ion-button item-right color="danger" *ngIf="productCount > 0" (click)="checkout()">立即购买</button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
