page-cart .cart-content {background-color: #F8F8FF;}
page-cart .ion-list {background-color: #ffffff; margin-top: 10px;}
page-cart .ion-list .cart-sliding {margin-bottom: 5px;}
page-cart .ion-list .cart-title {width: 100%; box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);}
page-cart .ion-list .cart-title .shop-name {font-size: 1.4rem;}
page-cart .ion-list .cart-item {background-color: #F5F5F5; height: 100px;}
page-cart .ion-list .cart-item ion-label {overflow: visible;}
page-cart .ion-list .cart-item .product-name {margin-top: -1rem; width: 80%;}
page-cart .ion-list .cart-item .product-special {margin-top: 5px; width: 80%; margin-bottom: 0.5rem;}
page-cart .ion-list .cart-item .product-price .col-tool {margin-left: -15px;}
page-cart .ion-list .cart-item .product-price {margin-bottom: -2.5rem; width: 100%;}
page-cart .ion-list .cart-item .product-price .price {color: #ff0000; margin-left: -8px;}
page-cart .ion-list .cart-item .product-price .count-input {width: 40px; text-align: center;}
page-cart .ion-list .cart-item .product-price .btn-count {width: 30px; height: 25px; margin-top: -3px;}
page-cart .empty-cart {margin-top: 50%;}
page-cart .empty-cart .tips p {font-size: 1.5rem; color: #666;}

page-cart .cart-footer {height: 60px;}
page-cart .cart-footer .select-all {margin-top: 10px;}
page-cart .cart-footer .select-all span {padding-left: 8px;}
page-cart .cart-footer .btn-col {margin-top: -5px;}
page-cart .cart-footer .total {font-weight: bold; margin-top: 15px;}
page-cart .cart-footer .total span {color: #ff0000; font-size: 1.5rem;}
