page-home {}
page-home .slide-image {width: 100%; max-width: 100%; height: 15rem; max-height: 15rem;}
page-home .slide-image img {width: 100%; max-width: 100%; height: 15rem; max-height: 15rem;}
page-home .row {margin: 1rem 0 0 1.5rem;}
page-home .row div {margin-top: 0.5rem;}
page-home .ion-list h2 {font-weight: bolder;}
page-home .ion-list .item {padding: 0;}
page-home .ion-list .item .item-inner {padding: 0}
page-home .ion-list .item ion-label {margin: 0;}
page-home .ion-list .item .item-detail .col-detail {padding: 3px 1px 3px 1px;}
page-home .ion-list .item .item-detail .col-detail img {width: 100%; max-width: 100%; height: 220px; max-height: 220px;}
page-home .ion-list .item .item-detail .col-detail .sell-info {margin: 0.5rem 0 1rem 0;}
page-home .ion-list .item .item-detail .col-detail .sell-info p {font-size: 1.4rem;}
page-home .ion-list .item .item-detail .col-detail .sell-info div.price {width: 100%;}
page-home .ion-list .item .item-detail .col-detail .sell-info div.price .dis-price {color: #ff0000; font-weight: bold;}
page-home .ion-list .item .item-detail .col-detail .sell-info div.price .origin-price {font-weight: normal; font-size: 1.4rem; color: #666; padding-left: 16px; text-decoration: line-through;}
page-home .ion-list .item .item-detail .col-detail .sell-info p {padding-top: 5px; width: 300px;}
page-home .ion-list .item .item-detail .col-detail .sell-info div.tips {font-size: 1.4rem; font-weight: normal; color: #ff0000; margin-top: 5px;}
