<ion-header>
  <ion-navbar hideBackButton no-border-bottom>
    <ion-buttons start>
      <button ion-button color="dark" navPop><ion-icon name="arrow-back" class="btn-back"></ion-icon></button>
    </ion-buttons>
    <ion-title text-center *ngIf="productInfo">产品 - {{productInfo.product.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager [options]="options" class="slide-image">
    <ion-slide *ngFor="let slide of imageItems">
      <img [src]="slide.imageUrl"/>
    </ion-slide>
  </ion-slides>

  <ion-card *ngIf="productInfo" class="product-card">
    <ion-card-content class="product-card-content">
      <h2 class="card-title ellipsis-text">{{productInfo.product.name}}</h2>
      <p class="card-summary ellipsis-text">{{productInfo.product.summary}}</p>
      <ion-row no-padding wrap>
        <ion-col width-33 *ngFor="let skuItem of productInfo.product.skuItems" class="col-sku">
          <button ion-button outline color="primary" class="btn-sku" *ngIf="skuItem.name == sku" (click)="switchSku(skuItem.name)">{{skuItem.name}}</button>
          <button ion-button outline color="dark" class="btn-sku" *ngIf="skuItem.name != sku" (click)="switchSku(skuItem.name)">{{skuItem.name}}</button>
        </ion-col>
      </ion-row>
      <span class="dis-price">￥{{productInfo.product.distPrice}}</span>
      <ion-row>
        <ion-col width-33><p class="origin-price">价格 ￥{{productInfo.product.price}}</p></ion-col>
        <ion-col width-33><p class="sale-count">月销 {{productInfo.product.countSale}}</p></ion-col>
        <ion-col width-33>
          <button ion-button class="btn-option" color="danger" *ngIf="productInfo.product.category.id == 1" (click)="doGiftConfirm()">免费领取</button>
          <button ion-button class="btn-option" color="danger" *ngIf="productInfo.product.category.id == 2" (click)="doBuy()">立即购买</button>
          <button ion-button class="btn-option" color="danger" *ngIf="productInfo.product.category.id == 3" (click)="doAppoint()">申请惠农产品</button>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card-content>
      <div [innerHTML]="productInfo.information"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
