<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title *ngIf="productInfo">产品- {{productInfo.product.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-card *ngIf="productInfo">

    <img [src]="productInfo.product.imageUrl"/>

    <ion-card-content>
      <h2 class="card-title">
        {{productInfo.product.name}}
      </h2>
      <p>
        {{productInfo.product.summary}}
      </p>
      <ion-grid>

        <ion-row no-padding wrap >

          <ion-col width-20 *ngFor="let skuItem of productInfo.product.skuItems">
            <button ion-button *ngIf="skuItem.name == sku" color="danger"  (click)="switchSku(skuItem.name)">{{skuItem.name}}</button>
            <button ion-button *ngIf="skuItem.name != sku"  (click)="switchSku(skuItem.name)">{{skuItem.name}}</button>
          </ion-col>

        </ion-row>

        <ion-row no-padding>
          <ion-col width-67 style="vertical-align: middle">
            <div>
              <span style="color:red;font-size: 18px;">￥{{productInfo.product.distPrice}}</span> <span>￥{{productInfo.product.price}}</span>
            </div>
            <div>
             销售数量:{{productInfo.product.countSale}}
            </div>
          </ion-col>
          <ion-col width-33 style="vertical-align: middle">
            <button ion-button   color="danger" *ngIf="productInfo.product.category.id == 1" (click)="doGiftConfirm()">免费领取</button>
            <button ion-button   color="danger" *ngIf="productInfo.product.category.id == 2" (click)="doBuy()">立即购买</button>
            <button ion-button   color="danger" *ngIf="productInfo.product.category.id == 3" (click)="doAppoint()">我要申请惠农产品</button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>



    <ion-card-content>

      <div [innerHTML]="productInfo.information"></div>

    </ion-card-content>
  </ion-card>
