page-new-detail {
  ion-card {
    ion-card-header {padding-bottom: 0 !important;}
    ion-card-content {
      ion-card-title {
        margin-top: -5px !important;
        ion-row {
          ion-col {
            font-size: 1.4rem;
            color: #999;
          }
        }
      }
      p {
        font-size: 1.5rem !important;
        color: #000 !important;
      }
    }
  }
}
