<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button ion-button color="dark" navPop><ion-icon name="arrow-back" class="btn-back"></ion-icon></button>
    </ion-buttons>
    <ion-title>填写订单</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="order-content">
  <!--收货地址 -->
  <button ion-item class="btn-item-address" (click)="goAddress()" *ngIf="!addressInfo">
    <span padding-left>选择收货地址</span>
  </button>
  <button ion-item *ngIf="addressInfo" class="btn-item-addressInfo" (click)="goAddress()">
    <ion-row>
      <ion-col width-50><span class="contactBase">收货人: {{addressInfo.contactUserName}}</span></ion-col>
      <ion-col width-50><span class="contactBase">{{addressInfo.contractTel}}</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span class="address">收货地址: {{addressInfo.province}}{{addressInfo.city}}{{addressInfo.area}}{{addressInfo.address}}</span></ion-col>
    </ion-row>
  </button>

  <!--商品详情 -->
  <ion-card class="prod-card">
    <ion-card-content *ngFor="let item of orderItems" class="prod-card-content">
      <ion-row>
        <ion-col width-25 class="col-image">
          <ion-thumbnail item-left>
            <img src="{{item.imageUrl}}"/>
          </ion-thumbnail>
        </ion-col>
        <ion-col width-75 class="col-baseInfo">
          <div class="prod-base-info">
            <span class="prod-name ellipsis-text">{{item.name}}</span>
            <p class="prod-count">数量: x{{item.qty}}</p>
            <p *ngIf="item.sku">[规格] {{item.sku}}</p>
            <span class="prod-price">￥{{item.distPrice}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- 支付方式 -->
  <ion-label class="pay-type-name">支付方式</ion-label>
  <ion-list class="ion-pay-list" radio-group>
    <ion-item>
      <ion-thumbnail item-left class="pay-image">
        <img src="assets/images/alipay-logo-90x90.png"/>
      </ion-thumbnail>
      <ion-label class="pay-name"><h2>支付宝</h2></ion-label>
      <ion-radio value="1" (click)="selectPayType('1')"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-left class="pay-image">
        <img src="assets/images/weixin-logo.jpg"/>
      </ion-thumbnail>
      <ion-label class="pay-name"><h2>微信</h2></ion-label>
      <ion-radio value="2" (click)="selectPayType('2')" disabled></ion-radio>
    </ion-item>
  </ion-list>

  <ion-card class="prod-card">
    <ion-card-content>
      <ion-row>
        <ion-col width-75>商品金额</ion-col>
        <ion-col width-25><span class="total-price">￥{{orderInfos.payAmount}}</span></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="order-footer">
  <ion-toolbar no-border-bottom>
    <ion-row>
      <ion-col width-67 class="total" text-right>实付款: <span>￥{{orderInfos.amount}}</span></ion-col>
      <ion-col width-33>
        <button ion-button block color="danger" class="btn-submit-order" (click)="submitOrder()">支付</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

