page-checkout .order-content {background-color: #f8f8f8;}
page-checkout .btn-item-address {padding-left: 0; font-weight: bold; margin-top: 5px;}
page-checkout .btn-item-addressInfo .contactBase {font-weight: 500; font-size: 1.6rem;}
page-checkout .btn-item-addressInfo .address {font-weight: 400; font-size: 1.5rem; color: #666; width: 90%; white-space: pre-wrap;}
page-checkout .prod-card {margin: 5px 0 0 0; width: 100%;}
page-checkout .prod-card .total-price {color: #ff0000; font-size: 1.5rem; font-weight: 500;}
page-checkout .prod-card .col-image {margin: -15px 0 0 -15px;}
page-checkout .prod-card .col-baseInfo {margin-top: -5px;}
page-checkout .prod-card .prod-base-info {margin-left: -10px; width: 100%;}
page-checkout .prod-card .prod-base-info .prod-name {font-size: 1.5rem; font-weight: normal; width: 90%;}
page-checkout .prod-card .prod-base-info .prod-count {margin-top: 3px;}
page-checkout .prod-card .prod-base-info .prod-price {color: #ff0000; margin-top: 3px;}
page-checkout .pay-type-name {font-size: 1.5rem; font-weight: bold; margin: 15px 0 0 12px;}
page-checkout .ion-pay-list {margin-top: 8px; margin-bottom: 10px;}
page-checkout .ion-pay-list .pay-image img {width: 60px; height: 60px;}
page-checkout .ion-pay-list .pay-name h2 {font-weight: bold;}

page-checkout .order-footer {height: 60px; bottom: 0 !important;}
page-checkout .order-footer .total {color: #ff0000; font-size: 1.6rem; font-weight: bold; margin: 10px 0 0 0;}
page-checkout .order-footer .btn-submit-order {margin-top: -3px;}

page-select-address .ion-list .item {padding-left: 0;}
page-select-address .ion-list .item .item-inner {padding-right: 0;}
page-select-address .ion-list .item .item-inner ion-label {margin: 0;}
page-select-address .ion-list .item .item-inner ion-label ion-card {margin: 10px 0 0 0; width: 100%; box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);}
page-select-address .ion-list .item .item-inner ion-label ion-card .address-context {margin-left: 5px;}
