page-settings .list-user .head-img img {width: 60px; height: 60px; max-width: 60px; max-height: 60px; border-radius: 50%;}
page-settings button.btn-logout {color: #ff0000;}

page-settings-nickName .ion-list {margin-top: 1rem;}
page-settings-nickName p.tips {color: #c5c5c5; margin-top: -2rem;}
