<ion-header>
  <ion-navbar hideBackButton no-border-bottom>
    <ion-buttons start>
      <button ion-button color="dark" (tap)="navCtrl.pop()"><ion-icon name="arrow-back" class="btn-back"></ion-icon></button>
    </ion-buttons>
    <ion-title text-center>认证会员信息</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="addressForm" (submit)="addEditAddress(addressForm)" novalidate>
    <ion-list class="ion-list" no-lines>
      <ion-item>
        <ion-input type="text" placeholder="真实姓名" [formControl]="realName"></ion-input>
      </ion-item>
      <div class="error-box" *ngIf="realName.hasError('required') && realName.touched">真实姓名</div>
      <div class="error-box" *ngIf="(realName.hasError('minlength') || realName.hasError('maxlength')) && realName.touched">收货人姓名:2-15个字符限制</div>
      <div class="lines"></div>

      <ion-item>
        <ion-input type="text" placeholder="身份证号码" [formControl]="identityCard"></ion-input>
      </ion-item>
      <div class="error-box" *ngIf="identityCard.hasError('required') && identityCard.touched">身份证号码</div>
      <div class="error-box" *ngIf="(identityCard.hasError('minlength') || identityCard.hasError('maxlength')) && identityCard.touched">手机号码格式不正确</div>
      <div class="lines"></div>

      <ion-row>
        <ion-col width-33><button ion-item no-lines (tap)="selectProvince()"><span>{{provinceName}}</span></button></ion-col>
        <ion-col width-33><button ion-item no-lines (tap)="selectCities()"><span>{{citiesName}}</span></button></ion-col>
        <ion-col width-33><button ion-item no-lines (tap)="selectArea()"><span>{{areaName}}</span></button></ion-col>
      </ion-row>
      <div class="lines"></div>

      <ion-item>
        <ion-textarea placeholder="详细地址" rows="3" [formControl]="address"></ion-textarea>
      </ion-item>
      <div class="error-box" *ngIf="address.hasError('required') && address.touched">请填写详细地址</div>
      <div class="error-box" *ngIf="(address.hasError('minlength') || address.hasError('maxlength')) && address.touched">详细地址:5-60个字符限制</div>
      <div class="lines"></div>


      <ion-item>
        <ion-input type="tel" placeholder="区域编码" [formControl]="addressCode"></ion-input>
      </ion-item>
      <div class="error-box" *ngIf="addressCode.hasError('required') && addressCode.touched">请填写区域编码</div>
      <div class="error-box" *ngIf="(addressCode.hasError('minlength') || addressCode.hasError('maxlength')) && addressCode.touched">区域编码:6位数字限制</div>
      <div class="lines"></div>

      <button ion-item (tap)="goTradeUser()">
        <ion-icon name="card-outline" item-left></ion-icon>
        认证网点
      </button>

      <div *ngIf="tradeInfo">{{tradeInfo}}</div>

    </ion-list>

    <div padding class="btn-save">
      <button ion-button block type="submit" color="danger" [disabled]="!addressForm.valid">保存</button>
    </div>
  </form>
</ion-content>
