<ion-header>
  <ion-navbar hideBackButton no-border-bottom>
    <ion-buttons start>
      <button ion-button color="dark" (tap)="navCtrl.pop()"><ion-icon name="arrow-back" class="btn-back"></ion-icon></button>
    </ion-buttons>
    <ion-title text-center>我认证的金超店铺</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--
  <ion-fab left top>
    <button ion-fab (click)="changeCate(-1)" [color]="cateColorAll">滚动</button>
    <ion-fab-list side="right">
      <button ion-fab (click)="changeCate(1)" [color]="cateColor1">资讯新闻</button>
      <button ion-fab (click)="changeCate(2)" [color]="cateColor2">惠农政策</button>
      <button ion-fab (click)="changeCate(3)" [color]="cateColor3">农业科技</button>
    </ion-fab-list>
  </ion-fab>
  //-->

  <ion-list>
    <ion-item *ngFor="let shop of shops; let ind = index" >
      <ion-thumbnail item-left>
        <img [src]="shop.imageUrl">
      </ion-thumbnail>
      <h2>{{shop.shopName}}</h2>
      <p>{{shop.province}} {{shop.city}} {{shop.area}} {{shop.address}} </p>
      <button ion-button (click)="settingShop(shop.id)" color="danger">归属网点</button>
    </ion-item>

    <ion-item *ngFor="let corp of corps">
      <ion-thumbnail item-left>
        <img [src]="corp.imageUrl">
      </ion-thumbnail>
      <h2>{{corp.name}}</h2>
      <p>{{corp.province}} {{corp.city}} {{corp.area}} {{corp.address}} </p>
      <button ion-button (click)="settingCorp(corp.id)" color="danger">归属网点</button>
    </ion-item>

  </ion-list>

</ion-content>
