<ion-header>
  <ion-toolbar light no-border-bottom hideBackButton>
    <ion-row class="filter-tab">
      <ion-col width-33 text-center class="col" (tap)="switchSortType(2)"><span [class]="xlClass">促销</span></ion-col>
      <ion-col width-33 text-center class="col" (tap)="switchSortType(3)"><span [class]="jgClass">惠农<i [class]="upOrDown"></i></span></ion-col>
      <ion-col width-33 text-center class="col" (tap)="switchSortType(1)"><span [class]="zhClass">赠品</span></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines class="ion-list">
    <ion-item>
      <ion-row wrap class="item-detail">
        <ion-col *ngFor="let item of items" class="col-detail" width-50>
          <img (tap)="goToProductPage(item.id)" [src]="item.imageUrl"/>
          <div class="ellipsis-text">{{item.name}}</div>
          <div class="sell-info">
            <div class="price">
              <span class="dis-price">￥{{item.distPrice}}</span>
              <span class="origin-price">￥{{item.price}}</span>
            </div>
            <p *ngIf="item.category.id == 3">月销{{item.countSale}}笔<span class="product-special">惠农</span></p>
            <p *ngIf="item.category.id != 3">月销{{item.countSale}}笔</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
